
<!--Authors: William Ludwig and Jacob Blomquist
    CS4540: Web Software
    Html code for the High Scores View-->
@model ICollection<CS4540Final.Models.HighScore>

<h1>High Scores</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Score (MM:SS:MILLIS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        int score = item.Time;
                        int minutes = (int)Math.Floor(score / 60000.0);
                        int seconds = (int)Math.Floor((score - minutes * 60000.0) / 1000.0);
                        int remaining = (int)Math.Floor(score - minutes * 60000.0 - seconds * 1000.0);


                        String minStr = minutes < 10 ? "0" + minutes : minutes + "";
                        String secStr = seconds < 10 ? "0" + seconds : seconds + "";
                        String remStr = "";
                        if (remaining < 10)
                        {
                            remStr = "000" + remaining;
                        }
                        else if (remaining < 100)
                        {
                            remStr = "00" + remaining;
                        }
                        else if (remaining < 1000)
                        {
                            remStr = "0" + remaining;
                        }
                        else
                        {
                            remStr = remaining + "";
                        }
                    }
                    @minStr:@seconds:@remStr
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.HighScoreID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>