@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <p>Still don't know if we will include this page or do something else with it</p>
</div>