@{
    ViewData["Title"] = "Play";
}

<div class="text-center">
    <h1 class="display-4">Do you dare enter Daedalus' Labyrinth?</h1>
    <p>Press the button below to begin!</p>
    <button type="button" class="btn btn-danger">Begin</button>
</div>
